

.employee_selected tr{
  background-color: #3bef47;
}

.hoverTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.hoverTable td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.hoverTable tr:nth-child(odd) {
    background-color: #dddddd;
}

.hoverTable tr {
  background-color: white;
}

.hoverTable tr:hover {
  background-color: #3bef47;
}
.hoverTable tr.employee_selected {
  background-color: #3bef47;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}



.bottom-panel{
    position: absolute;
    height: 50%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: green;
}


#top-left {
    position: absolute;
    left: 0px ;
    width: 33.3333%;
    height: 50%;
    background-color: #bae3b6;
}
#top-middle {
    position: absolute;
    right: 33.3333%;
    width: 33.3333%;
    height: 50%;
    background-color: #8ecf88;
}
#top-right {
    position: absolute;
    right:0px;
    width: 33.3333%;
    height: 50%;
    background-color: #bee496;
}
