

.legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}

#resource-list-table th {
    text-align: center;
}

#resource-list-table td {
    vertical-align: middle;
}

#resource-list-table tr:hover, #resource-list-table tr.employee_selected {
    background-color: #f3f3f3;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}



.bottom-panel{
    position: absolute;
    height: 50%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: green;
}


.col-bordered {
    border: 2px solid #f2f2f2;
    height: 50vh;
}
